.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	div {
		display: flex;
		align-items: center;
	}

	&__logo {
		// justify-self: flex-start;

		&:hover {
			opacity: 0.9;
		}
	}

	ul {
		padding: 0 1rem;
		display: flex;

		list-style: none;
	}

	li {
		padding-right: 0.6rem;

		a:hover {
			opacity: 0.7;
		}
	}
}
